body {
	background: url(../image/bg1.jpg);
}
.box {
	width: 74%;
	height: 160px;

	background-image: url(../image/lib.jpg);
	background-size: cover;
	margin-left: 13%;
	opacity: 0.9;
	border-radius: 12px;
	box-shadow: 0px 0px 15px lightgreen;
	border: solid 1px #cf0403;
	border-radius: 12px;
}

.header {
	width: 400px;
	color: #ffffff;
	display: inline-block;
	width: 73.5%;
	height: 370px;
	margin-left: 13%;
	background-image: url("../image/lg3.jpg");
	background-size: cover;
	box-shadow: 0px 0px 15px lightgreen;
	border-radius: 12px;
	border: solid 1px #cf0403;
}

.title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 10px;

	background: rgba(0, 0, 0, 0.5);
	margin-top: 4%;
	margin-right: 56%;
	padding-left: 10%;
	font-style: italic;
}
.title h2 {
	background: #660000;
	border: none;
	margin-left: 20px;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 150px;
	border-radius: 15px;
	width: 280px;
}

.container {
	margin-top: 15px;
	margin-left: 20%;

	font-weight: 10px;
	height: 350px;
	background: rgba(0, 0, 0, 0.5);
	padding-left: 3%;
	width: 600px;
	box-shadow: 0px 0px 15px lightgreen;
	border-radius: 18px;
	overflow: auto;
}

.header input[type="submit"] {
	font-size: 22px;
	text-align: center;
	border: none;
	height: 30px;
	margin-left: 110%;
	margin-top: 10px;
	background: #660000;
	color: #ffffff;
	border-radius: 5px;
}

ul {
	padding: 0;
	list-style: none;
}
ul li {
	float: left;
	width: 200px;
	height: 40px;
	background-color: purple;
	opacity: 0.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover {
	background-color: green;
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}
.nav {
	padding-left: 12%;
}
